# for for for break

---

In [1]:
flag = False

for i in range(3):
    
    for j in range(3):
        
        for k in range(3):
            
            print(i, j, k)
            
            if i == 1 and j == 1 and k == 1:
                flag = True
                break
                
        if flag:
            break
            
    if flag:
        break
        
print('for문 모두 탈출')

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
for문 모두 탈출

---

In [2]:
for i in range(3):
    
    for j in range(3):
        
        for k in range(3):
            
            print(i, j, k)

            if i == 1 and j == 1 and k == 1:
                break
        
        if i == 1 and j == 1 and k == 1:
            break
    
    if i == 1 and j == 1 and k == 1:
        break

print("for문 모두 탈출")

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
for문 모두 탈출

---

# 함수로 처리해서 return

In [3]:
def find_value():
    
    for i in range(3):
        
        for j in range(3):
            
            for k in range(3):
                print(i, j, k)

                if i == 1 and j == 1 and k == 1:
                    return True
    return False

In [4]:
if (find_value()):
    print('중간에서 for문 모두 탈출')

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1
중간에서 for문 모두 탈출

---

In [5]:
while(1):
    if find_value():
        break

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 2
0 2 0
0 2 1
0 2 2
1 0 0
1 0 1
1 0 2
1 1 0
1 1 1