# list

In [47]:
# 문자열을 입력 받음

lst = input()
print(lst)

1234
1234

In [51]:
# 문자를 공백 기준 입력

lst = input().split()
print(lst)

1 2 3 4
['1', '2', '3', '4']

In [43]:
# 문자열을 입력받아, 한 글자 씩 리스트 화

lst = list(input()) 
print(lst)

1234
['1', '2', '3', '4']

In [44]:
# 문자열 (리스트) 를 리스트 내 저장
lst = [input()]
print(lst)

1234
['1234']

---

# list 주소 복사

- 값 수정시 공유 변경

In [52]:
# 주소 복사 이므로, l과 lst는 모두 같은 주소 하나의 lst를 가리킴

lst = [10, 20, 30] 
l = lst
lst,l

([10, 20, 30], [10, 20, 30])

In [53]:
# is True

lst is l

True

In [54]:
# l과 lst는 모두 같은 주소 하나의 lst를 가리킴

lst[1] = 30
l[2] = 40
lst,l

([10, 30, 40], [10, 30, 40])

In [55]:
# == 같은 주소를 가리키므로, 요소들 값이 모두 같음

lst == l

True

---

# list.copy() 값 복사

In [56]:
# .copy() lst 완전한 2개로 분리

lst = [10,20,30]
l = lst.copy()
lst,l

([10, 20, 30], [10, 20, 30])

In [57]:
# is False

lst is l

False

In [58]:
# == 복사된 요소는 모두 같으므로

lst == l

True

In [61]:
# 완전 분리 상태에서 변경

lst[1] = 30
l[2] = 40
lst,l

([10, 30, 30], [10, 20, 40])

In [62]:
# 리스트 요소 값이 다르므로, False

lst == l

False

---

# 다차원 배열 값 복사

2차원 이상의 다차원 리스트는 리스트를 완전히 복사하려면 copy 메서드 대신 copy 모듈의 deepcopy 함수를 사용해야 합니다.

In [3]:
arr =[[1,2,3],[4,5,6],[7,8,9]]
arr

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [4]:
# 서로 주소 복사 - 값 공유

tmp = arr

In [14]:
# 다차원 에서는 서로 주소 복사로 처리 - 값 공유

tmp = arr.copy()

---

In [30]:
# 값 복사

tmp = [ lst[:] for lst in arr]
tmp

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [33]:
import copy

tmp = copy.deepcopy(arr)
tmp

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

---

# list clear

In [11]:
lst = [10,20,30]

if lst:
    print('O')

O

In [15]:
# clear

lst.clear()

if not lst:
    print('X')

X

---

# list Method 

- 메서드를 호출한 리스트가 변경되며, 새 리스트가 생성되는 것이 아님.

## list 요소 추가

- append: 요소 하나를 끝에 추가


- extend: 리스트를 연결 하여 확장 - 한번에 여러개 요소 추가


- insert: 특정 인덱스에 요소 추가

In [1]:
# extend([value1,value2])

lst = [10,20,30]
lst.extend([40,50])
lst

In [2]:
# insert(idx,value)

lst = [10,20,30]

lst.insert(0,100)         # 맨 앞에 요소 추가

lst.insert(2,500)         # idx 2에 요소 추가 (3번째)

lst.insert(len(lst),1000) # 맨 뒤에 요소 추가 append

lst

---

## list 슬라이스

`lst[len(lst):]`는 시작 인덱스를 `len(lst)`로 지정해서 리스트의 마지막 인덱스보다 1이 더 큰 상태입니다. 

- 리스트 끝에서부터 시작하겠다는 뜻

- (이때는 리스트의 범위를 벗어난 인덱스를 사용할 수 있습니다).

In [3]:
# 슬라이스 append 

lst = [10, 20, 30]
lst[len(lst):] = [500]
lst

In [16]:
# 슬라이스 extend

lst = [10, 20, 30]

lst[len(lst):] = [500,600]

lst

[10, 20, 30, 500, 600]

---

## list 요소 삭제

- pop(idx) - 특정 인덱스의 요소를 삭제, default 마지막 요소
- del lst[0] - 내장 함수


- remove: value - 특정 값을 찾아서 삭제

In [4]:
# pop()

lst = [10, 20, 30]
lst.pop() # 맨 뒤
lst

In [5]:
# pop(0)
lst = [10, 20, 30]
lst.pop(0) # idx 0 요소 맨 앞 삭제
lst

In [6]:
# pop(idx)

lst = [10, 20, 30]
lst.pop(1) # idx 1 요소 삭제
lst

In [7]:
# del 내장함수

lst = [10, 20, 30]
del lst[0]
lst

In [8]:
# clear()

lst = [10, 20, 30]
lst.clear()
lst

In [9]:
# 리스트 비어있는지 화인

lst = []

if not lst:
    print('blank') # 리스트가 비어 있으면 True

if lst:
    print('in')# 리스트에 내용이 있으면 True

---

In [10]:
# remove()

lst = [10, 20, 30]
lst.remove(20)
lst

In [11]:
# remove() 만약 리스트에 같은 값이 여러 개 있을 경우 처음 찾은 값을 삭제합니다.


lst = [10, 20, 30, 20]
lst.remove(20)
lst

In [12]:
# remove() - list comprehension 을 이용하여, 값이 20인 요소 모두 삭제

lst = [10, 20, 30, 20]
lst = [i for i in lst if i != 20]
lst

---

## list idx

- index(값)은 리스트에서 특정 값의 인덱스를 구합니다. 

- 이때 같은 값이 여러 개일 경우 처음 찾은 인덱스를 구합니다(가장 작은 인덱스).

In [13]:
# index()

lst = [10, 20, 30, 15, 20, 40]
lst.index(20)

In [14]:
# lst 중 최소 값의 idx

lst = [10, 20, 30, 15, 20, 40]
idx_min = lst.index(min(lst))
print(idx_min)

In [15]:
# in enumerate - idx 여러개 처리 - 값이 20인

lst = [10, 20, 30, 15, 20, 40]
lst_idx = [i for i,v in enumerate(lst) if v == 20]
lst_idx

In [16]:
# idx 여러개 처리 - 리스트 내 값 카운트, 빈도수 max인 값 - idx 

lst = [1,1,0,0,0,3,3,3,3,3,0,0,6,6,6,6,6,9,9,9,9,10,10,10,10,10]


# lst_cnt 0 ~ 10 사이 빈도수 lst 
lst_cnt = [] 
for i in range(0,10+1):
    lst_cnt.append(lst.count(i))
print(lst_cnt,max(lst_cnt))



# 빈도수 max 여러개, idx 여러개 처리
lst_idx_max = [ i for i,value in enumerate(lst_cnt) if (value == max(lst_cnt)) ]
print(lst_idx_max)


# max 빈도수 
cnt = [ value for i,value in enumerate(lst_cnt) if (value == max(lst_cnt)) ]
print(cnt)

---

## lst 정렬

In [17]:
# sort() method - 변경

lst = [10, 20, 30, 15, 20, 40]

lst.sort()
print(lst)


lst.sort(reverse = True)
print(lst)

In [18]:
# sorted() fun - 생성

lst = [10, 20, 30, 15, 20, 40]
lst_sorted = sorted(lst) 
print(lst_sorted)

---

# data struction

## Stack 

- append()

- pop()

## Queue

- append()

- pop(0)

## deque ( double ended queue )


- 덱은 양쪽 끝에서 추가/삭제가 가능한 자료 구조입니다.

In [19]:
from collections import deque

In [20]:
d = deque([10, 20, 30])
d

In [21]:
d.append(500)    # 덱의 맨뒤 요소 추가
d

In [22]:
d.popleft()     # 덱의 맨앞 요소 삭제
d

In [23]:
d.pop()         # 덱의 맨뒤 요소 삭제
d

---

# list map

- return 맵 객체(`map object`)가 만들어집니다. 

- 이 상태로는 안에 들어있는 값을 볼 수 없으므로, `list()`를 사용해서 리스트로 변환

In [79]:
# len(lst)로 받아서, lst 내 할당하여 변경

lst = [1.2, 2.5, 3.7, 4.6]

for i in range(len(lst)):
    lst[i] = int(lst[i])

lst

[1, 2, 3, 4]

In [85]:
# list map
# map에 int와 리스트를 넣으면 리스트의 모든 요소를 int를 사용해서 변환


lst = [1.2, 2.5, 3.7, 4.6]
lst = list(map(int, lst))
lst

[1, 2, 3, 4]

In [84]:
lst = [1.2, 2.5, 3.7, 4.6]
lst = [map(int, lst)]
lst

---

 
- map에는 리스트뿐만 아니라 모든 반복 가능한 객체를 넣을 수 있습니다('39.1 반복 가능한 객체 알아보기' 참조). 

- 이번에는 range를 사용해서 숫자를 만든 뒤 숫자를 문b자열로 변환해보겠습니다.

In [87]:
lst = list(map(str, range(10)))
lst

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [93]:
lst = input().split()
lst

10 29

['10', '29']

In [92]:
# map 객체

lst = map(int, input().split())
lst

10 20

In [95]:
# map 객체
lst = [map(int, input().split())]
lst

10 20

In [97]:
# map 객체 리스트로 형변환

lst = list(map(int, input().split()))
lst

10 20

[10, 20]

---

- 사실 map이 반환하는 맵 객체는 이터레이터라서 변수 여러 개에 저장하는 언패킹(unpacking)이 가능합니다.

- 그래서 a, b = map(int, input().split())처럼 list를 생략한 것입니다('39.2 이터레이터 만들기' 참조).

In [98]:
tmp = input().split()    # input().split()의 결과는 문자열 리스트

m = map(int, tmp)        # 리스트의 요소를 int로 변환, 결과는 맵 객체

a, b = m                 # 맵 객체는 변수 여러 개에 저장할 수 있음

print(a,b)

10 20
10 20

In [99]:
a,b = map(int,input().split())

print(a,b)

10 20
10 20

---

# iterator (이터레이터) 

- 반복 가능한 객체


- 이터레이터 언패킹


- https://dojang.io/mod/page/view.php?id=2406

---

# list in

- 특정 값이 리스트내 존재 하나요? return bool

- 선 리스트 입력

In [21]:
l = [4,5,6]

In [22]:
4 in l

True

In [2]:
# month 

lst_28 = [2]
lst_30 = [4,6,9,11]
lst_31 = [1,3,5,7,8,10,12]

v = int('09')

print(v in lst_28, v in lst_30, v in lst_31)

False True False

In [3]:
# 문자열 확인
lst = ['4','33','5','5','6','hello']

In [4]:
# list comprehension 특정 값 여러개 추출

lst_new = [i for i in lst if i == '5']
lst_new

['5', '5']

---

In [15]:
# 여러 값 확인 

lst = [1,2,3,4,5]

if( (1 in lst) and (2 in lst) ):
    print('1,2 둘 다 존재')

1,2 둘 다 존재

In [20]:
# 존재 여부 print
# 1,2,3 을 꺼낸후(똑같이 3번),
# 리스트 에서 꺼낸 값이 i 와 같으면 X 

# 리스트에서 i를 꺼냈을시 True 출력

for i in [1,2,3]:
    print(i in lst)

True
True
True

In [29]:
# list comprehension

lst = [1, 2, 3, 4, 5]

l = [i in lst for i in [1,2,3]]

print(l)

if all(l):
    print('1,2,3 모두 존재')

[True, True, True]
1,2,3 모두 존재

---

# subset

In [28]:
lst = [1, 2, 3, 4, 5]

if set([1,2,3]).issubset(set(lst)):
    print('1,2,3 모두 존재')

1,2,3 모두 존재

---

# list for i,v in enumerate (lst)

In [63]:
lst = [10,20,30]

# i 는 1부터 start


for i,v in enumerate(lst,1):
    print(i,v)

1 10
2 20
3 30

---

# list comprehension


리스트 안에 식, for 반복문, if 조건문 등을 지정하여 리스트를 생성하는 것

In [67]:
# 빈 리스트 생성

lst = [0 for i in range(10)]
lst

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [68]:
# 리스트 내 홀수 추출

lst = [i for i in range(10)]

print(lst)

lst = [ i for i in lst if(i % 2 == 1) ]

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [71]:
# 0 ~ 9 사이 짝수 * 2

lst = [i * 2 for i in range(10) if i % 2 == 0] 
lst

[0, 4, 8, 12, 16]

In [66]:
# 리스트 내 홀수 추출

lst = [i for i in range(10)]

print(lst)

lst = [ i for i in lst if(i % 2 == 1) ]

print(lst)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [76]:
# 9 x 9

# i = 2 , j ~ 1~9
# i = 3 , j ~ 1~9

lst = [i * j for i in range(2,10) for j in range(1,10)]
lst

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 4,
 8,
 12,
 16,
 20,
 24,
 28,
 32,
 36,
 5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 6,
 12,
 18,
 24,
 30,
 36,
 42,
 48,
 54,
 7,
 14,
 21,
 28,
 35,
 42,
 49,
 56,
 63,
 8,
 16,
 24,
 32,
 40,
 48,
 56,
 64,
 72,
 9,
 18,
 27,
 36,
 45,
 54,
 63,
 72,
 81]

In [24]:
# 리스트 원소 끼리 끼리 합 연산

l1 = [1,2,3]
l2 = [1,2,3]

lst = [ l1[i] + l2[i] for i in range(len(l1)) ]

lst

In [25]:
# 리스트 원소 끼리 끼리 곱 연산

l1 = [1,2,3]
l2 = [1,2,3]

lst = [ l1[i] * l2[i] for i in range(len(l2)) ]

lst

In [27]:
# 문자열 내 특수 문자 인 요소 추출

lst = ["apple", "banana", "cherry", "kiwi", "mango"]

lst = [i for i in lst if 'a' in i ]

print(lst)

In [28]:
# 2D > 1D

lst = [[1,2,3],[4,5,6],[7,8,9],[10,11,12]]

print(lst)

lst = [ j for i in lst for j in i]

print(lst)

---

In [ ]:
l1 = [1,2,3]

l2 = [1,2,3,4,5]

lst = []

for i in range( min( len(l1),len(l2) ) ):
    
    lst.append(l1[i] * l2[i])

print(lst)

In [ ]:

lst = [ sum(l1[i] * l2[i]) for i in range(len(l1))] 

lst = sum([ l1[i] * l2[i] for i in range(len(l1))])