# lst 내 값 여부

---

## in

In [1]:
lst = [1, 2, 3, 4, 5]

print(1 in lst)

True

---

## in 여러개, 모두

In [2]:
lst = [1, 2, 3, 4, 5]

if (1 in lst) and (2 in lst) and (3 in lst):
    print("1,2,3 all")
else:
    print("lst 안에 1, 2, 3 중 적어도 하나가 없습니다.")

1,2,3 all

---

## all()

- 모두 True 여야 True 반환

In [3]:
lst = [1, 2, 3, 4, 5]


# 1,2,3 에서 하나씩 x로 꺼내서 그게 lst 안에 있으면 true인데 그게 모두 true 인경우
# True,True,True

if all(x in lst for x in [1,2,3]):
    print("1,2,3 all")
else:
    print("lst 안에 1, 2, 3 중 적어도 하나가 없습니다.")

1,2,3 all

In [4]:
for x in [1,2,3]:
    if(x in lst):
        print(True)

True
True
True

---

## any()

- True가 하나라도 있으면 True

- not in으로 모두 false 여야,

In [5]:
lst = [1, 2, 3, 4, 5]

if any(x not in lst for x in [1, 2, 3]):
    print("lst 안에 1, 2, 3 중 적어도 하나가 없습니다.")
else:
    print("1,2,3 all")

1,2,3 all

---

## set

set() 함수는 리스트 lst를 집합으로 변환한 후, 

issubset() 메소드가 [1, 2, 3] 리스트의 원소가 lst 집합의 부분집합인지 확인합니다. 

issubset() 메소드는 부분집합이면 True를 반환합니다.

위 코드도 실행 결과로 "lst 안에 1, 2, 3이 모두 있습니다."가 출력됩니다.

In [6]:
lst = [1, 2, 3, 4, 5]

if set([1, 2, 3]).issubset(set(lst)):
    print("lst 안에 1, 2, 3이 모두 있습니다.")
else:
    print("lst 안에 1, 2, 3 중 적어도 하나가 없습니다.")

lst 안에 1, 2, 3이 모두 있습니다.

---

## Counter.items

In [7]:
from collections import Counter

lst = [1, 2, 3, 4, 5]
lst_counter = Counter(lst)
subset_counter = Counter([1, 2, 3])

if subset_counter.items() <= lst_counter.items():
    print("lst 안에 1, 2, 3이 모두 있습니다.")
else:
    print("lst 안에 1, 2, 3 중 적어도 하나가 없습니다.")

lst 안에 1, 2, 3이 모두 있습니다.